
  
  .body{
    --background: linear-gradient(to bottom,#0c2a5d, #00f9ff);
}
  

  .imagen {
    display: block;
    margin: 0 auto; 
    width: 100%; 
    height: 500px; 
    
}
  


@media screen and (max-width: 768px) {
  
  .imagen {
    max-width: 100%; 
    margin-top: 30px; 
  }
  

  
}