<ion-header>
  <ion-toolbar class="barra-herramientas">
    <ion-title>Crear Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="body">
  <div class="titulo">
    <h1>¿Desea crear un nuevo Cliente?</h1>
  </div>

  <div>
    <ion-button class="boton-crear-cliente" [routerLink]="['/formulario-cliente']">Presione aquí</ion-button>
  </div>



  <div class="formulario fondo-formulario" *ngIf="datos">
    <ion-grid class="tabla-container">
      <!-- Encabezados de columna -->
      <ion-row class="tabla-header">
        <ion-col size="3">
          <ion-label class="columna-label">Nombre</ion-label>
        </ion-col>
        <ion-col size="3">
          <ion-label class="columna-label">Teléfono</ion-label>
        </ion-col>
        <ion-col size="3">
          <ion-label class="columna-label">Dirección</ion-label>
        </ion-col>
        <ion-col size="3">
          <ion-label class="columna-label">Agendar Cita</ion-label>
        </ion-col>
      </ion-row>

      <!-- Datos de clientes -->
      <ion-row *ngFor="let cliente of datos" class="tabla-row">
        <ion-col size="3">
          <ion-label class="columna-label">{{ cliente.nombre }}</ion-label>
        </ion-col>
        <ion-col size="3">
          <ion-label class="columna-label">{{ cliente.telefono }}</ion-label>
        </ion-col>
        <ion-col size="3">
          <ion-label class="columna-label">{{ cliente.direccion }}</ion-label>
        </ion-col>
        <ion-col size="3" class="boton-agendar">
          <ion-button class="boton-agendar" (click)="crearVisita(cliente.id)" shape="round" size="small"
            fill="solid">Agendar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed" class="fixed-bottom">
    <ion-fab-button class="boton_volver" [routerLink]="['/home']">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
