<ion-header>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap" rel="stylesheet">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="titulo">
    ¿Olvidaste tu contraseña?
  </div>

  <p class="subtitulo">Ingresa tu email y sigue las instrucciones.</p>

  <ion-input type="email" fill="solid" label="Email" labelPlacement="floating" helperText="Ingresa un mail valido"
    errorText="Invalid email" ngModel email>
  </ion-input>

  <ion-button class="boton_validar" expand="block">Validar mail
    <ion-icon start="end" name="arrow-forward-outline"></ion-icon>
  </ion-button>
  <ion-button class="boton_cancelar" [routerLink]="['/login']" expand="block">Cancelar
  <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
</ion-button>
</ion-content>


