ion-content {
  --background: linear-gradient(to bottom, #34B0D2, #0bb64a);
  background-size: cover;
}

.titulo {
  font-size: 2.0rem;
  color: #021329;
  font-weight: bold;
  font-family: 'Lora', serif;
  text-align: center;
  margin-top: 40px;
}

.subtitulo {
  font-size: 18px;
  color: #fefeff;
  text-align: center;
  margin-top: 40px;
  font-family: 'Lora', serif;
  margin-top: 50px;
}

ion-input {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  color: #333;
}

.boton {
  /* Estilos para tu botón */
  margin-top: 25%;
  font-size: 15px; /* Tamaño de fuente más grande */
  padding: 15px 40px; /* Añade un poco más de espacio alrededor del texto */
  color: #fff; /* Color del texto */
  --background: #00548d;
}

@media screen and (max-width: 768px) {
  .titulo {
    font-size: 1.5rem;
    margin-top: 30px;
  }

  .subtitulo {
    font-size: 16px;
    margin-top: 20px;
  }

  ion-input {
    width: 100%;
  }

  .boton {
    margin-top: 20%;
    font-size: 14px;
    padding: 12px 24px;
  }
}

  

  


  