ion-content {
  --background: linear-gradient(to bottom, #0c2a5d, #00f9ff);
}

.titulo {
  font-size: 2.0rem;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Lora', serif;
  text-align: center;
  margin-top: 2rem;
}

.subtitulo {
  font-size: 1.2rem;
  color: #ffffff;
  text-align: center;
  margin-top: 4rem;
  font-family: 'Lora', serif;
  font-weight: bold;
}

ion-input {
  background-color: #ffffff;
  border-radius: 0.5rem; /* Ajusta el radio de los bordes */
  margin-top: 1rem;
  font-size: 0.7rem; /* Ajusta el tamaño de la fuente */
  padding: 0.7rem 1rem; /* Ajusta el padding */
  max-width: 90%; /* Ajusta el ancho máximo */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30rem;
  
}

.boton_validar {
  margin-top: 2.5rem;
  font-size: 1.3rem;
  padding: 1.5rem 3rem;
  color: #fff;
  --background: #127c07;
  
  
  
}
.boton_cancelar {
  margin-top: 2.5rem; /* Ajusta el margen superior para que quede separado del botón Validar */
  font-size: 1.3rem;
  padding: 1.5rem 3rem;
  color: #fff;
  --background: #2076d8; /* Cambia el color de fondo según tus preferencias */
  margin-top: -2rem;
}





@media screen and (max-width: 768px) {
  .titulo {
    font-size: 1.5rem;
  }

  .subtitulo {
    font-size: 1rem;
  }

  ion-input {
    margin-top: 3.5rem;
    margin-bottom: 18rem;
    
  }

  .boton_validar {
    margin-top: 1.5rem;
    font-size: 0.8rem;
    padding: 1.5rem 2rem;
  }
  
  .boton_cancelar {
    margin-top: -2.5rem; /* Ajusta el margen superior para que quede debajo del botón Validar */
    font-size: 0.8rem;
    padding: 1.5rem 2rem;
  }
  
}
