.barra-herramientas {
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Lora', serif;
  --background: #0c2a5d;
}

.titulo {
  font-size: 2rem;
  color: black;
  font-weight: bold;
  font-family: 'Lora', serif;
  text-align: center;
  margin-top: 3rem;
}


.boton_visualizar-cliente, .boton_registrar-cliente {

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 48%; /* Establecer el ancho al 48% para que ambos botones tengan el mismo tamaño */
  margin: 0 1%; /* Añadir un pequeño margen entre los botones */
}

.boton_visualizar-cliente {
  --background: #127c07;

}

.boton_registrar-cliente {
  --background: #0f077c;

}

.boton_volver {
  --background: linear-gradient(to bottom,#0c2a5d, #00f9ff);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.list-md{
  margin: 0 16px; /* Margen de 16 píxeles a ambos lados */
}

@media screen and (max-width: 768px) {
  .barra-herramientas {
    font-size: 0.8rem;
  }


  .botones-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;

  }


  .boton_volver {
    margin-top: 0;
    margin-left: 10px;
  }
}

