.body {
  --background: linear-gradient(to bottom, #0c2a5d, #00f9ff);
}

.barra-herramientas {
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Lora', serif;
  --background: #0c2a5d;
}

.titulo_1 {
  text-align: center;
  margin-top: 3rem;
  font-size: 3rem;
  margin-bottom: 5rem;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Lora', serif;
}

.titulo_2 {
  text-align: center;
  margin-top: 3rem;
  font-size: 3rem;
  margin-bottom: 5rem;
  color: black;
  font-weight: bold;
  font-family: 'Lora', serif;
}

.borde {
  border-radius: 20px;
}

.boton_visita {
  --background: #127c07;
}

.boton_venta {
  --background: #127c07;
}

.boton_volver {
  --background: linear-gradient(to bottom, #0c2a5d, #00f9ff);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.list-md {
  margin: 0 16px; /* Margen de 16 píxeles a ambos lados */
}



#custom-margin {
  margin: 0px, 32px; /* Margen derecho */
}

@media screen and (max-width: 768px) {
  .barra-herramientas {
    font-size: 0.8rem;
  }

  .titulo_1 {
    margin-top: 2.5rem;
    font-size: 1.7rem;
    margin-bottom: 2.5rem;
  }
  .titulo_2 {

    margin-top:  2rem;
    margin-bottom: 2rem;



  }
  .lista_2 {
    margin-top: 2rem;
    margin: 1rem;
  }

  .botones-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
  }
  .boton_visita{
    font-size: 0.9rem;

  }



  .boton_volver {
    margin-top: 0;
    margin-left: 10px;
  }
}
