<ion-header>
  <ion-toolbar class="barra-herramientas">
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="tabla-container">
    <!-- Encabezados de columna -->
    <ion-row class="tabla-header">
      <ion-col size="6">
        <ion-label class="columna-label-dark">Nombre de Producto</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-label class="columna-label-dark">Stock</ion-label>
      </ion-col>
    </ion-row>

    <!-- Datos de productos (ejemplo) -->
    <ion-row *ngFor="let producto of products" class="tabla-row">
      <ion-col size="6">
        <ion-label class="columna-label-dark">{{ producto.nombre_producto }}</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-label class="columna-label-dark">{{ producto.stock_producto }}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed" class="fixed-bottom">
    <ion-fab-button class="boton_volver" [routerLink]="['/home']">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

