ion-content {
  --background: linear-gradient(to bottom, #0c2a5d, #00f9ff);
}

.titulo {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Lora', serif;
}

.formulario {
  text-align: center;
  padding: 2.5rem;
  margin-top: 5rem;
}

.margen {
  margin: 1rem;
  border-radius: 1rem;
  margin-bottom: 0.8rem;
  color: #000000;
}

.input {
  font-size: 1.6rem;
}

.restablecer_contraseña {
  padding-top: 2.5rem;
}

.restablecer_contraseña a {
  font-size: 1.3rem;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
}

.boton {
  margin-top: 2.5rem;
  font-size: 1rem;
  padding: 1.5rem 2rem;
  color: #fff;
  --background: #127c07;
  border-radius: 1.5rem;
}



.imagen {
  max-width: 90%; /* Ajuste para que la imagen no ocupe toda la pantalla */
  height: auto;
  max-width: 18rem;
  position: fixed; /* Fija la posición del botón */
    bottom: 1rem; 
    left: 50%; /* Lo coloca en la mitad del ancho de la pantalla */
    transform: translateX(-50%); /* Alinea el botón al centro horizontal */
}

@media screen and (max-width: 768px) {
  .titulo {
    font-size: 1.5rem;
  }
  .formulario {
    padding: 1rem;
  }
  .margen {
    margin: 1rem;
  }
  .input {
    font-size: 1rem;
  }
  .restablecer_contraseña {
    padding-top: 1rem;
  }
  .restablecer_contraseña a {
    font-size: 1rem;
  }
  .boton {
    margin-top: 3rem;
    font-size: 0.7rem;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
  }
  .imagen {
    margin-top: 1.5rem;
    max-width: 8rem;
    margin-top: 3rem;
    position: fixed; 
    bottom: 1rem; 
    left: 50%; 
    transform: translateX(-50%); 
  }
}

