.titulo{
    text-align: center;
    margin-top: 20px;
    
}
.formulario{
    text-align: center;
    padding: 25px
    

}
.margen{
    margin: 20px
}
.contraseña{
    text-align: center;
    margin-bottom: 20px;
}
.registro{
    text-align: center;
}




ion-button {
    --background: #1fb60b;
      margin-top: 15%;
}
