<ion-app>
  <ion-menu menuId="main-menu" content-id="main" *ngIf="isHomePage">
    <ion-header>
      <ion-toolbar class="barra-herramientas">
        <ion-title>Gestión de Ejecutivo</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content [fullscreen]="true" class="body"> 
      <div class="item-visitas-agendadas">
        <ion-item routerLink="/crear-visitas" class="item-visitas-agendadas">
          <ion-icon name="calendar-outline" slot="start"></ion-icon>
          <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
          <ion-label>Crear visitas</ion-label>
        </ion-item>

      </div>

   <div>
      <ion-item routerLink="/crear-clientes" class="item-visitas-agendadas">
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
        <ion-label>Crear Cliente</ion-label>
      </ion-item>

     </div>

     <div>
      <ion-item routerLink="/solicitar-productos" class="item-visitas-agendadas">
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
        <ion-label>Solicitar Productos</ion-label>
      </ion-item>

     </div>
    
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
