<ion-header>
  <ion-toolbar class="barra-herramientas">
    <ion-title>Bienvenido Ejecutivo</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="body">

  <ion-img src="assets/icon/ejecutivo-3.png" alt="imagen ejecutivo"></ion-img>

  <ion-list *ngIf="userInfo">
    <ion-item>
      <ion-label>{{ userInfo.first_name }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ userInfo.email }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="boton" (click)="presentAlert()">
      Salir
    </ion-fab-button>
  </ion-fab>
</ion-content>
