<ion-header>
  <ion-toolbar class="barra-herramientas">
    <ion-title>Venta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="body">

  <div class="titulo-cliente">
    <p>Datos del Cliente</p>
  </div>

  <!-- Rectángulo con datos -->
  <div class="rectangulo">
    <p>Nombre: {{ formData.nombre }}</p>
    <p>RUT: {{ formData.rut }}</p>
    <p>Dirección: {{ formData.direccion }}</p>
  </div>

  <!-- Sección sumar productos -->
  <div class="seccion-cantidad">
    <ion-card>
      <ion-card-content>
        <div class="container">
          <ion-item>
            <ion-label position="floating">Nombre:</ion-label>
            <ion-input [(ngModel)]="nombre_producto.nombre_producto" name="nombre" type="text"></ion-input>
          </ion-item>
          
          <ion-row class="botones-cantidad">
            <ion-col size="6">
              <ion-button class="agregar-producto" (click)="disminuirCantidad(nombre_producto)">-</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button class="agregar-producto" (click)="aumentarCantidad(nombre_producto)">+</ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Seccion carga de datos -->
  <div class="seccion-datos-producto">
    <ion-card>
      <ion-card-content>
        <ion-grid class="tabla-container">
          <!-- Encabezados de columna -->
          <ion-row class="tabla-header">
            <ion-col size="6">
              <ion-label class="encabezado-lista">Nombre de Producto</ion-label>
            </ion-col>
            <ion-col size="6">
              <ion-label class="encabezado-lista">Acciones</ion-label>
            </ion-col>
          </ion-row>

          <!-- Datos de los productos -->
          <ion-row *ngFor="let producto of products" class="tabla-row">
            <ion-col size="6">
              <ion-label class="columna-label-dark">{{ producto.nombre_producto }}</ion-label>
            </ion-col>
            <ion-col size="6">
              <ion-button class="boton-agregar-producto" (click)="realizarAccion(producto)">Agregar</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Botón "Enviar Venta" con confirmación -->
  <ion-button expand="full" (click)="presentAlertConfirm()">Enviar Venta</ion-button>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button class="boton-volver" [routerLink]="['/home']">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
