<ion-header>
  <ion-toolbar class="barra-herramientas">
    <ion-title>Venta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="body">
  <!-- Rectángulo con datos -->
  <div class="rectangulo">
    <p>Nombre: {{ formData.nombre }}</p>
    <p>RUT: {{ formData.rut }}</p>
    <p>Dirección: {{ formData.direccion }}</p>
  </div>

 <!-- Sección para el producto -->
<div class="seccion-producto">
  <ion-card class="cuadrado-producto">
    <!-- Contenido del cuadrado del producto -->
    
    <ion-card-content>
      <!-- Muestra el nombre del nuevo producto -->
      <ion-label>{{ nuevoProducto.nombre }}</ion-label>
      <!-- Input numérico para la cantidad -->
      <ion-item>
        <ion-label position="floating">Cantidad:</ion-label>
        <ion-input [(ngModel)]="nuevoProducto.cantidad" name="cantidad" type="number"></ion-input>
      </ion-item>
    </ion-card-content>
    <ion-row class="botones-cantidad">
      <!-- Botones de aumento y disminución -->
<ion-col size="6">
  <ion-button expand="full" (click)="disminuirCantidad()">-</ion-button>
</ion-col>
<ion-col size="6">
  <ion-button expand="full" (click)="aumentarCantidad()">+</ion-button>
</ion-col>

    </ion-row>
  </ion-card>
</div>



<!-- Datos de productos -->
<ion-grid class="tabla-container">
  <!-- Encabezados de columna -->
  <ion-row class="tabla-header">
    <ion-col size="6">
      <ion-label class="columna-label-dark">Nombre de Producto</ion-label>
    </ion-col>
    <ion-col size="6">
      <ion-label class="columna-label-dark">Acciones</ion-label>
    </ion-col>
  </ion-row>

  <!-- Datos de productos -->
  <ion-row *ngFor="let producto of products" class="tabla-row">
    <ion-col size="6">
      <ion-label class="columna-label-dark">{{ producto.nombre_producto }}</ion-label>
    </ion-col>
    <ion-col size="6">
      <!-- Agrega un botón para cada producto -->
      <ion-button (click)="realizarAccion(producto)">Agregar Producto</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>



  <!-- Botón "Enviar Venta" con confirmación -->
  <ion-button expand="full" (click)="presentAlertConfirm()">Enviar Venta</ion-button>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button class="boton_volver" [routerLink]="['/home']">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
