<ion-header>
  <ion-toolbar class="barra-herramientas">
    <ion-title>Crear Visitas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="body">
  <h1 class="titulo">Ingresar Cliente</h1>

  <div class="formulario">
    <ion-list>
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-input placeholder="Nombres"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-input placeholder="Apellidos"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="card-outline" slot="start"></ion-icon>
        <ion-input type="text" placeholder="RUT"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-input type="email" placeholder="Email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="call" slot="start"></ion-icon>
        <ion-input type="tel" placeholder="Teléfono"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="location-outline" slot="start"></ion-icon>
        <ion-input placeholder="Dirección"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="snow-outline" slot="start"></ion-icon>
        <ion-label>¿Es Visita en frío?</ion-label>
        <ion-checkbox [(ngModel)]="esVisitaEnFrio"></ion-checkbox>
      </ion-item>

    </ion-list>
  </div>

  <ion-button class="boton-send" expand="block" [attr.esVisitaEnFrio]="esVisitaEnFrio">
    {{ esVisitaEnFrio ? 'Crear visita en frío' : 'Crear visita agendada' }}
  </ion-button>


  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button class="boton_volver" [routerLink]="['/home']">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>