
.barra-herramientas {
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Lora', serif;
  --background: #0c2a5d;
}


.titulo {
  text-align: center;
  margin-top: 1rem; 
  font-size: 1.5rem;
  color: #00548d;
}


.formulario {
  max-width: 500px; 
  margin: 0 auto; 
}

ion-list ion-item {
  --padding-start: 0;
  --padding-end: 0;
}



.boton-send {
  margin-top: 1rem;
  border-radius: 20px;
  padding: 15px 25px;
  --background: #127c07; 

  /* Cambia el color de fondo si es visita en frío */
  --background-visita-en-frio: #00548d; 
}

/* Aplica el color de fondo según la condición de visita en frío */
.boton-send[esVisitaEnFrio='true'] {
  --background: var(--background-visita-en-frio);
}


.boton_volver{
  --background: linear-gradient(to bottom,#0c2a5d, #00f9ff);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}


@media screen and (max-width: 768px) {
  .barra-herramientas {
    font-size: 0.8rem; 
  }

  .titulo {
    font-size: 1.2rem; 
  }

  .formulario {
    max-width: 90%; 
    margin: 0 auto; 
  }

  .boton-send {
    margin-top: 0.5rem; 
    font-size: 0.7rem; 
    padding: 10px 20px; 
  
}

}